# macOS
.DS_Store

# VSCode / Devcontainers
.vscode/
.devcontainer/

# Build artifacts (embedded/C++/Arduino)
build/
*.elf
*.bin
*.hex
*.o
*.obj
*.log
*.ilk
*.pdb
*.tlog
*.exe
CMakeFiles/
CMakeCache.txt
*.cmake

# Temporary files
*~
*.tmp
*.swp

# Arduino / PlatformIO
*.pio
*.elf
*.bin

# Microsoft Office temp files
~$*.docx
~$*.pptx
~$*.xlsx

# Android Studio
.idea/
.gradle/
local.properties
*.iml
build/
captures/
.externalNativeBuild/
.cxx/
.navigation/