# macOS
.DS_Store

# VSCode / Devcontainers
.vscode/
.devcontainer/

# Build artifacts (embedded/C++/Arduino)
build/
*.elf
*.bin
*.hex
*.o
*.obj
*.log
*.ilk
*.pdb
*.tlog
*.exe
CMakeFiles/
CMakeCache.txt
*.cmake

#zip files
DataSheets/ZipFiles/

# Temporary files
*~
*.tmp
*.swp

# Arduino / PlatformIO
*.pio
*.elf
*.bin

# Microsoft Office temp files
~$*.docx
~$*.pptx
~$*.xlsx

# Android Studio
.idea/
.gradle/
local.properties
*.iml
build/
captures/
.externalNativeBuild/
.cxx/
.navigation/

# KiCad - Temporary and backup files
*.bak
*.cadbak
*~
_autosave-*
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl

# KiCad - Output directories (files generated for production)
*-bak/
*-backups/
fp-info-cache
python_scripts/

# KiCad - Project local settings (user specific)
*.kicad_user



# --- Ignorowanie zbędnych formatów bibliotek (nie-KiCad) ---
**/Allegro/
**/Altium/
**/CADSTAR/
**/CR-5000/
**/CR-8000/
**/Capture/
**/CircuitStudio/
**/DEHDL/
**/DesignSpark*/
**/DipTrace/
**/EAGLE/
**/Easy-PC/
**/EasyEDA/
**/OrCAD*/
**/PADS/
**/Proteus/
**/Pulsonix/
**/Quadcept/
**/SOLIDWORKS*/
**/TARGET*/
**/Xpedition/
**/eCADSTAR/
**/xDX Designer/

# Pliki pomocnicze w bibliotekach
*.epw
*.dsl
*.asc
*.lbr
*.epl
*.pdif
*.pdspart
*.plx
*.cxf
*.foota
*.packa
*.parta
*.symba
*.edf
*.scr
license.txt
Readme.html
how-to-import.htm

# --- GWARANCJA DOSTĘPU ---
# Zawsze śledź te pliki, nawet jeśli są w ignorowanych folderach (poza ZipFiles)
!*.pdf
!*.kicad_sch
!*.kicad_pcb
!*.kicad_pro
!*.kicad_sym
!*.kicad_mod
!*.pretty/